* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightgray;
  height: 100vh;
}

article {
  margin: 20px auto;
  width: 400px;
  height: 500px;
  border-radius: 20px;
  border-color: black;
  /* border: 4px solid; */
  /* box-shadow: 10px 5px 5px black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: white;
  transition: 0.5s;
}

.country-name {
  margin: 1rem auto;
}

/* .country-img {
  width: 100%;
  height: 40%;
  display: flex;
  border-radius: 15px 15px 0 0;
  align-items: center;
  justify-content: center;
  background: rosybrown;
} */

img {
  width: 100%;
  height: 40%;
  padding: 0%;
  margin: 0;
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid;
  /* border-radius: 20%; */
  overflow-x: hidden;
}

button {
  border: none;
  font-size: 3rem;
}

/* Data Style */

h3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.15rem;
  font-weight: 500;
  margin-left: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p:last-child {
  justify-items: center;
}

span {
  margin-left: 2rem;
  font-weight: 400;
  margin-right: 2rem;
  font-size: 0.75rem;
}
